body {
  background-color: #EBD4FB;
}
h1 {
  font-family: Monospace, Courier New, Monaco;
  color: yellow; 
  font-weight: bold;
  font-style: oblique;
  border-style: outset;
}
h2 {
  font family: Arial, Helvetica, sans-serif;
  color: #F213D8; 
  font-weight: Light;
  font-style: italic; 
  border-style: dotted; 
  border-color: #B507F4;
}
p1 {
  font-family: fantasy, copperplate, papyrus;
  color: #BDFF1C;
}
p2 {
  font-family: fantasy, copperplate, papyrus;
  color: #0EE0BE;
}

