body {
  background-color: #DABADE;
  
}
h1 {
  font-family: Monospace, Courier New, Monaco;
  color: yellow; 
  font-weight: bold;
  font-style: oblique;
  border-style: outset;
}
h2 {
  font family: Arial, Helvetica, sans-serif;
  color: #F213D8; 
  font-weight: Light;
  font-style: italic; 
}
p {
  font-family: fantasy, copperplate, papyrus;
  color: #BDFF1C;
  border-style: dotted; 
  border: #B507F4;
}


